# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [2]:
#Your code here
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

df = pd.read_csv('homepage_actions.csv')
df.head(50)

                     timestamp      id       group action
0   2016-09-24 17:42:27.839496  804196  experiment   view
1   2016-09-24 19:19:03.542569  434745  experiment   view
2   2016-09-24 19:36:00.944135  507599  experiment   view
3   2016-09-24 19:59:02.646620  671993     control   view
4   2016-09-24 20:26:14.466886  536734  experiment   view
5   2016-09-24 20:32:25.712659  681598  experiment   view
6   2016-09-24 20:39:03.248853  522116  experiment   view
7   2016-09-24 20:57:20.336757  349125  experiment   view
8   2016-09-24 20:58:01.948663  349125  experiment  click
9   2016-09-24 21:00:12.278374  560027     control   view
10  2016-09-24 21:00:41.351487  265695  experiment   view
11  2016-09-24 21:05:15.348935  601714  experiment   view
12  2016-09-24 21:06:27.553057  601714  experiment  click
13  2016-09-24 21:09:09.046127  416862  experiment   view
14  2016-09-24 21:29:19.766467  487634  experiment   view
15  2016-09-24 21:30:02.739756  487634  experiment  click
16  2016-09-24 23:01:08.713402  468601  experiment   view
17  2016-09-24 23:01:12.108316  468601  experiment  click
18  2016-09-24 23:08:35.540897  293251  experiment   view
19  2016-09-24 23:50:31.623841  515303  experiment   view
20  2016-09-25 00:00:47.700734  555973  experiment   view
21  2016-09-25 00:01:47.933853  555973  experiment  click
22  2016-09-25 00:06:13.556666  756950  experiment   view
23  2016-09-25 00:25:14.141290  281985     control   view
24  2016-09-25 01:14:48.603202  407864     control   view
25  2016-09-25 02:16:11.046654  342984     control   view
26  2016-09-25 02:41:58.928919  716544     control   view
27  2016-09-25 02:52:43.844199  398892     control   view
28  2016-09-25 02:53:25.459874  398892     control  click
29  2016-09-25 03:28:47.603433  444902  experiment   view
30  2016-09-25 03:29:16.000743  444902  experiment  click
31  2016-09-25 03:50:39.942229  769969     control   view
32  2016-09-25 03:50:49.200721  462225     control   view
33  2016-09-25 03:51:40.536864  710625  experiment   view
34  2016-09-25 03:53:07.494954  667387     control   view
35  2016-09-25 04:14:28.942153  588929  experiment   view
36  2016-09-25 05:18:58.565357  544571     control   view
37  2016-09-25 05:19:15.810727  544571     control  click
38  2016-09-25 05:21:26.612444  824613     control   view
39  2016-09-25 05:42:34.858176  269335  experiment   view
40  2016-09-25 05:44:09.740212  269335  experiment  click
41  2016-09-25 05:47:10.299045  199091     control   view
42  2016-09-25 06:02:34.302094  694237  experiment   view
43  2016-09-25 06:36:22.815564  685428  experiment   view
44  2016-09-25 06:59:23.730896  596892  experiment   view
45  2016-09-25 07:00:09.016928  596892  experiment  click
46  2016-09-25 07:23:22.139057  653403  experiment   view
47  2016-09-25 07:24:28.569074  653403  experiment  click
48  2016-09-25 07:49:38.522862  408725  experiment   view
49  2016-09-25 08:07:19.474850  731880  experiment   view

In [3]:
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64

In [18]:
clicks = df.loc[df.action == 'click', 'id']
views = df.loc[df.action == 'view', 'id']
unique_clicks = set(clicks.unique())
unique_views = set(views.unique())

In [19]:
unique_views

{196608,
 491538,
 327703,
 491548,
 229405,
 753695,
 327713,
 688171,
 557099,
 426042,
 360509,
 360511,
 393280,
 294975,
 557131,
 589899,
 655437,
 458832,
 655457,
 557155,
 196707,
 229492,
 229496,
 622720,
 786564,
 786565,
 589958,
 753801,
 753809,
 655511,
 295064,
 622750,
 753823,
 884898,
 327843,
 426152,
 786605,
 491695,
 786608,
 590004,
 655546,
 327871,
 360652,
 491729,
 655572,
 393449,
 721130,
 917744,
 196865,
 426242,
 884994,
 393493,
 524568,
 295196,
 557345,
 491810,
 491815,
 295213,
 917823,
 786759,
 786767,
 426323,
 491864,
 590169,
 688484,
 196965,
 328052,
 852342,
 786809,
 328061,
 786815,
 917891,
 295304,
 295305,
 491915,
 622991,
 622996,
 721303,
 491933,
 262562,
 557477,
 655812,
 655813,
 754135,
 426465,
 295393,
 360932,
 459239,
 328175,
 590326,
 819705,
 655873,
 688642,
 590341,
 918030,
 786964,
 328217,
 262692,
 852520,
 361004,
 262702,
 655924,
 393791,
 819783,
 492109,
 557645,
 262739,
 262742,
 721498,
 754267,
 459363,
 819813,
 852585,
 524907,
 492142,
 623217,
 230002,
 590450,
 426624,
 590464,
 885379,
 426628,
 230024,
 426633,
 230026,
 918154,
 852619,
 557715,
 295572,
 197268,
 492186,
 459430,
 918188,
 197312,
 295616,
 524996,
 393925,
 787142,
 492239,
 525015,
 393953,
 688870,
 525030,
 492266,
 262893,
 230136,
 525050,
 918266,
 590593,
 328451,
 197385,
 361226,
 557838,
 787220,
 492310,
 885529,
 557853,
 557859,
 852772,
 262958,
 787254,
 557883,
 590671,
 394070,
 328542,
 820069,
 885606,
 590708,
 394111,
 263055,
 754580,
 557978,
 361375,
 754608,
 656309,
 787386,
 295868,
 787394,
 328645,
 590794,
 230350,
 525262,
 885711,
 492506,
 689122,
 197611,
 263150,
 230382,
 852979,
 361461,
 230402,
 459793,
 558100,
 263189,
 787484,
 295967,
 853031,
 721973,
 230454,
 918596,
 754757,
 492617,
 853071,
 525391,
 230482,
 263258,
 918623,
 787552,
 427104,
 820336,
 787579,
 623747,
 263304,
 361611,
 459921,
 558228,
 394390,
 230554,
 296091,
 853155,
 591012,
 591014,
 787627,
 787631,
 787632,
 656561,
 525496,
 328892,
 230598,
 787667,
 328917,
 492762,
 820455,
 754922,
 656634,
 886013,
 918794,
 820496,
 492817,
 263460,
 460068,
 427317,
 853302,
 492854,
 755000,
 492859,
 361791,
 787775,
 787777,
 853315,
 918853,
 230740,
 460127,
 623971,
 689511,
 296298,
 492906,
 263533,
 394610,
 755063,
 198022,
 460168,
 624012,
 624013,
 656782,
 787855,
 427416,
 689564,
 492979,
 624054,
 918968,
 656825,
 755138,
 198104,
 919000,
 558554,
 591322,
 787936,
 755169,
 853481,
 296437,
 656887,
 263681,
 787970,
 558593,
 558598,
 656904,
 624139,
 591376,
 853524,
 329249,
 624167,
 689706,
 886317,
 198190,
 263735,
 820802,
 820803,
 591429,
 591438,
 362065,
 329308,
 591453,
 919134,
 689768,
 657001,
 919155,
 198264,
 329343,
 853636,
 722569,
 919179,
 362125,
 427665,
 919188,
 525973,
 755352,
 460440,
 755354,
 460447,
 263849,
 296623,
 329395,
 788149,
 427702,
 493239,
 362176,
 591554,
 526025,
 493257,
 919244,
 526038,
 853730,
 231140,
 198384,
 362224,
 919287,
 296699,
 263932,
 853759,
 624390,
 460553,
 395017,
 558870,
 329500,
 558881,
 821026,
 362280,
 263986,
 919358,
 427840,
 755521,
 558917,
 329542,
 296775,
 526151,
 591686,
 624461,
 558930,
 460631,
 198499,
 362343,
 624490,
 526194,
 821110,
 821118,
 460671,
 427910,
 427915,
 755597,
 821136,
 591765,
 526231,
 788377,
 526233,
 919453,
 821151,
 559008,
 493483,
 657331,
 624591,
 788433,
 821201,
 919512,
 657381,
 493543,
 854005,
 788472,
 854018,
 460803,
 657420,
 362514,
 460822,
 886808,
 722980,
 329768,
 690232,
 362555,
 198715,
 526403,
 821321,
 755803,
 395365,
 854122,
 690293,
 624766,
 362623,
 657535,
 788612,
 821382,
 493707,
 526482,
 460957,
 657566,
 886958,
 526516,
 264374,
 362681,
 624828,
 395458,
 690372,
 755912,
 723146,
 755917,
 821486,
 264430,
 198896,
 198898,
 821492,
 264437,
 395512,
 329978,
 788731,
 592123,
 624903,
 788747,
 624911,
 723218,
 362774,
 395546,
 821533,
 854305,
 395555,
 821542,
 657711,
 624944,
 821557,
 231733,
 493878,
 231738,
 624959,
 526656,
 461125,
 854351,
 395600,
 231776,
 493927,
 756074,
 428396,
 559487,
 723334,
 330120,
 657801,
 756107,
 919949,
 854415,
 461199,
 690579,
 493984,
 592295,
 264617,
 657842,
 199091,
 657845,
 559551,
 199104,
 887233,
 231882,
 395723,
 494030,
 199121,
 362969,
 297445,
 920048,
 625137,
 920061,
 690686,
 264704,
 330241,
 395776,
 920069,
 625165,
 625166,
 330256,
 461330,
 526868,
 199191,
 559646,
 559647,
 756256,
 592433,
 461366,
 297529,
 657987,
 363077,
 821832,
 789066,
 625232,
 330332,
 789085,
 690784,
 461411,
 821860,
 821865,
 363115,
 658030,
 723568,
 723573,
 887415,
 363131,
 363132,
 330382,
 592527,
 658065,
 264866,
 494246,
 232105,
 330411,
 461484,
 854703,
 559792,
 494256,
 330422,
 723642,
 461499,
 264894,
 559806,
 428736,
 428737,
 559812,
 264901,
 461512,
 199372,
 690897,
 297683,
 690903,
 592606,
 297700,
 330471,
 494315,
 396013,
 821998,
 363247,
 625400,
 297727,
 592645,
 887559,
 232200,
 658184,
 789263,
 887572,
 494358,
 494365,
 559902,
 264993,
 264994,
 265001,
 887594,
 363311,
 363314,
 330549,
 396088,
 330556,
 330558,
 756546,
 625475,
 527179,
 920402,
 920410,
 494439,
 691051,
 199540,
 494460,
 920452,
 560020,
 723862,
 560027,
 822175,
 461729,
 822183,
 691111,
 691123,
 428983,
 527309,
 691152,
 494546,
 265176,
 461786,
 232421,
 265193,
 297965,
 461806,
 887800,
 265209,
 789500,
 691206,
 199687,
 199691,
 789518,
 461843,
 822292,
 691230,
 855071,
 396326,
 199724,
 658477,
 691253,
 494646,
 691265,
 429125,
 625746,
 461907,
 265304,
 691290,
 658531,
 887912,
 724072,
 560254,
 625797,
 756871,
 363656,
 298126,
 363674,
 363675,
 920735,
 232609,
 887975,
 625846,
 232631,
 199862,
 199869,
 887997,
 462022,
 494799,
 822479,
 462035,
 789717,
 756950,
 330972,
 789731,
 822500,
 855285,
 265463,
 691454,
 888068,
 757002,
 920845,
 199954,
 396566,
 888087,
 363810,
 593188,
 429366,
 396606,
 691525,
 658759,
 331082,
 494926,
 625999,
 822613,
 331094,
 462165,
 200021,
 888156,
 396642,
 527714,
 265573,
 724338,
 200061,
 626045,
 822659,
 626054,
 232843,
 855436,
 757135,
 462225,
 527764,
 789917,
 888221,
 363933,
 462250,
 495048,
 789960,
 789963,
 855500,
 658894,
 560591,
 462292,
 265695,
 691693,
 822774,
 921100,
 232980,
 921110,
 200220,
 691753,
 560684,
 921141,
 560705,
 233030,
 593483,
 527948,
 527952,
 790096,
 790101,
 593494,
 200280,
 560729,
 593499,
 790113,
 233061,
 200294,
 265831,
 495235,
 528015,
 200342,
 855704,
 364187,
 921250,
 888492,
 364209,
 200369,
 396977,
 888500,
 396999,
 855753,
 757452,
 626389,
 364246,
 757471,
 823008,
 397041,
 364281,
 593665,
 528147,
 495381,
 790293,
 266007,
 200483,
 855845,
 888614,
 593705,
 495401,
 429875,
 593720,
 364350,
 855872,
 495430,
 528199,
 692042,
 790350,
 200527,
 462682,
 364386,
 855908,
 692068,
 692073,
 921450,
 855914,
 298869,
 626553,
 626556,
 855933,
 528259,
 823179,
 888720,
 429976,
 298916,
 593835,
 659372,
 397232,
 724915,
 692154,
 298958,
 528337,
 495576,
 331747,
 888806,
 430081,
 331781,
 659470,
 593934,
 888850,
 692245,
 790551,
 462874,
 725025,
 561195,
 692273,
 397362,
 593972,
 561212,
 856126,
 364622,
 495698,
 233563,
 299103,
 397423,
 921712,
 430193,
 692337,
 200819,
 200816,
 725104,
 299126,
 626808,
 200826,
 757882,
 594055,
 233608,
 266389,
 626840,
 561305,
 594080,
 626851,
 823459,
 626856,
 299179,
 921772,
 757933,
 233649,
 233653,
 463030,
 856246,
 561339,
 626878,
 790718,
 463039,
 594134,
 889056,
 233701,
 757997,
 889073,
 495876,
 692492,
 921875,
 856340,
 200981,
 430360,
 856348,
 233758,
 528671,
 364830,
 233764,
 430383,
 266548,
 594232,
 332088,
 332092,
 201020,
 758078,
 495947,
 332115,
 692565,
 430428,
 463198,
 921957,
 463211,
 201070,
 889199,
 495984,
 823675,
 659839,
 299394,
 201091,
 332165,
 790919,
 463241,
 233866,
 496011,
 332177,
 692633,
 692634,
 922018,
 725422,
 889272,
 627129,
 364984,
 201154,
 790979,
 659912,
 725448,
 266697,
 659918,
 659919,
 856533,
 791002,
 725470,
 528862,
 365028,
 332260,
 266730,
 889323,
 332270,
 561651,
 233980,
 561666,
 725514,
 561679,
 528913,
 627221,
 496151,
 627235,
 791085,
 627250,
 791102,
 496193,
 823880,
 823883,
 528971,
 365131,
 201294,
 365168,
 627317,
 692884,
 496278,
 856728,
 791198,
 594594,
 463524,
 692901,
 856742,
 299695,
 430776,
 594635,
 856780,
 266970,
 463578,
 234206,
 463584,
 725740,
 692986,
 398078,
 922378,
 889614,
 496398,
 365343,
 660255,
 201505,
 627490,
 693033,
 561966,
 299833,
 660281,
 856893,
 725841,
 791381,
 299862,
 529240,
 267099,
 463710,
 660329,
 398202,
 922494,
 856961,
 562051,
 856978,
 922526,
 725921,
 856994,
 562099,
 332729,
 332732,
 234429,
 889795,
 431044,
 529350,
 562118,
 627657,
 234441,
 234444,
 693203,
 267227,
 922589,
 791530,
 594923,
 594927,
 398337,
 857096,
 365576,
 660509,
 365597,
 594991,
 758839,
 857144,
 660537,
 562239,
 201792,
 857158,
 758856,
 ...}

In [21]:
click_no_view = len(unique_clicks - unique_views)
view_no_click = len(unique_views - unique_clicks)

print(click_no_view, view_no_click)

0 4468

In [26]:
control = df.loc[df.group == 'control', 'id']
experimental = df.loc[df.group == 'experiment', 'id']
controlgroup = set(control.unique())
expgroup = set(experimental.unique())

overlap = controlgroup.intersection(expgroup)
overlap

set()

In [35]:
print(len(controlgroup))
print(len(expgroup))

3332
2996

In [30]:
df['counter'] = 0
df.head()

                    timestamp      id       group action  counter
0  2016-09-24 17:42:27.839496  804196  experiment   view        0
1  2016-09-24 19:19:03.542569  434745  experiment   view        0
2  2016-09-24 19:36:00.944135  507599  experiment   view        0
3  2016-09-24 19:59:02.646620  671993     control   view        0
4  2016-09-24 20:26:14.466886  536734  experiment   view        0

In [31]:
df.loc[df.action == 'click', 'counter'] = 1

In [33]:
df_control = df.loc[df.group == 'control']
df_exp = df.loc[df.group == 'experiment']

control_clicks = df_control.counter.sum()
exp_clicks = df_exp.counter.sum()

print(control_clicks, exp_clicks)

932 928

In [34]:
control_rate = control_clicks/len(controlgroup)

exp_rate = exp_clicks/len(expgroup)

print(f'Control Rate: {control_rate}')
print(f'Experimental Rate: {exp_rate}')

Control Rate: 0.2797118847539016
Experimental Rate: 0.3097463284379172

In [44]:
piv_control = df_control.pivot_table(index=['id'], columns=['action'], values='counter')
piv_control.fillna(0, inplace=True)
piv_control

action  click  view
id
182994    1.0   0.0
183089    0.0   0.0
183248    1.0   0.0
183515    0.0   0.0
183524    0.0   0.0
...       ...   ...
936786    0.0   0.0
937003    0.0   0.0
937073    0.0   0.0
937108    0.0   0.0
937217    1.0   0.0

[3332 rows x 2 columns]

In [45]:
piv_exp = df_exp.pivot_table(index=['id'], columns=['action'], values='counter')
piv_exp.fillna(0, inplace=True)
piv_exp

action  click  view
id
182988    0.0   0.0
183136    0.0   0.0
183141    1.0   0.0
183283    0.0   0.0
183389    0.0   0.0
...       ...   ...
935382    0.0   0.0
935576    0.0   0.0
935742    1.0   0.0
936129    0.0   0.0
937139    1.0   0.0

[2996 rows x 2 columns]

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [48]:
#Your code here
#Null Hypothesis: The average click rate on the control and experimental home pages is the same

#Alternative Hypothesis: The average click rate on the experimental home page is greater.

#Different size groups so we need to use a Welch's t test

import scipy.stats as stats
tstat, pval = stats.ttest_ind(piv_control.click, piv_exp.click, equal_var=False)
pval/2

0.004466402814337101

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [53]:
#Your code here
expected_clicks = (len(expgroup))*piv_control.click.mean()
expected_clicks

838.0168067226891

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [54]:
#Your code here
n = len(expgroup)
p = control_rate
std = (n*p*(1-p))**0.5
std

24.568547907005815

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [55]:
#Your code here
x = piv_exp.click.sum()
mu = expected_clicks
z = (x - mu)/std
z

3.6625360854823588

In [57]:
pval = 1 - stats.norm.cdf(z)
pval

0.00012486528006949715

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: **Your analysis here**
Both Welch's t-test and the binomial evaluation allow us to reject the null hypothesis.
The pvalue for the binomial evauation is a bit lower.
The experimental webpage is likely to generate more clicks.

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.